html {
  position: relative;
  min-height: 100%;

}

body {
  padding-top: 1.5 rem;
  padding-bottom: 1.5 rem;
  background-color: #d3d3d3;
}


#topHeader,
#topRight {
  padding-top: 20px;
  padding-bottom: 20px;
  color: black;
}

.jumbotron {
  text-align: center;
  font: bold;
}

div.jumbotron {
  background-image: url("/img/retail.png");
  width: 100%;
}

p,
h5.card-header {
 color: black;
}

.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

.form-group {
  width: 50%;
}


a.btn.btn-primary:hover {
  color: #fff;
  transform: translateY(-4px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
}

a.btn.btn-primary--default {
  color: #fff;
  background: #6772e5;
}









